*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(20, 13, 27);
    color: rgb(255, 255, 255);
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/back1.jpg);
    background-size: cover;
    background-position: center;

}
.container{
    padding: 10px 8%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 120px;

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;  
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;

}
.header-text{
    margin-top: 11%;
    font-size: 30px;
}
.header-text h1{
    margin-top: 20px;
    font-size: 60px;
}
.header-text h1 span{
    color: #ff004f;
}
/* -----------------About-------------------- */
#about{
    padding: 60px 0;
    color: #ababab; 
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 15px;

}
.about-col-2{
    flex-basis: 65%;
    /* margin-right: 5%;
    margin-left: 5%; */
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px ;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;  
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 17px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/* ----------------------services---------------------- */
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}
/*-- -----------------------Portfolio/ achievment---------------------  */
#portfolio{
    padding: 0px 0; 
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 20px;
    margin-top: 40px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 90%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    margin-right: 5%;
    margin-left: 5%;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 200;
    margin-bottom: 15px;
}
.layer a{
    margin-top: 10px;
    color: #ff004f;
    text-decoration: none;
    font-size: 12px;
    line-height: 30px;
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f;

}
/* ----------------contact---------------- */
.contact-left{
    flex-basis: 35%;
    /* padding: 0px 0; */
}
.contact-right{
    flex-basis: 60%;
    /* padding: 0px 0 0 0; */
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
    text-decoration: none;
    color: #b7b7b7;
    margin:1 0px;
    width: 50px;
    height: 50px;
    background: rgb(28, 28, 28);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    transition: 0.4s;
}
.link {
    margin-top:30px;
}
.link {
    text-decoration: none;
    color: #b7b7b7;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: rgb(28, 28, 28);
    border-radius: 10px;
    position: relative;
    transition: 0.4s;
}

.link:hover {
    transform: rotate(45deg);
}

.link::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #373737;
    border-radius: 10px;
    transition: opasity 0.2s;
}

.link:hover::before {
    opacity: 0.4;
}

.link:nth-child(1)::before {
    background: #c32aa3;
}

.link:nth-child(2)::before {
    background: #f3eb02;
}

.link:nth-child(3)::before {
    background: #25d366;
}

.link:nth-child(4)::before {
    background: #0a66c2;
}

.link:hover::before {
    transform: translate(-4px, -4px);
    filter: blur(10px);
}

.link i {
    font-size: 1.7em;
    transition: all 0.4s;
}

.link:hover i {
    color: #c8c8c8;
    transform: rotate(-45deg);
}

.link:hover i.instagram {
    color: #c32aa3;
}

.link:hover i.snapchat {
    color: #f3eb02;
}

.link:hover i.whatsapp {
    color: #25d366;
}

.link:hover i.linkedin {
    color: #0a66ca;
}

/* ------------- */
.btn.btn2{
    display: inline-block;
    background: #ff004f;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border:0;
    outline: none;
    background: #262626;
    padding: 10px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 10px;
    cursor:pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    /* margin-top: -70px; */
}
/* ------------------css for small screen ----------------- */
nav .fas{
    display: none;
}
@media only screen and (max-width: 700px){
    #header{
        background-image: url(images/back2.jpg);
    }
    .header-text{
        margin-top: 50%;
        font-size: 20px;
    }
    .header-text h1{
        font-size: 32px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
        margin-right: 5%;
        margin-left: 5%;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}
#msg{
    color: #61b752;
    display: block;
    margin-top: -40px;
}